body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0a920a ;

}

.titulo{
    padding-top: 10%;
    margin: auto;
}